/* my ipad pro: 1116px  */
@media screen and (min-width: 1171px) and (max-width: 1350px) {

    /* 共通 */
    .header {
        font-size: 1.5vw;
    }
    /* トップページ */
    .home_container {
        min-height: auto;
    }
    .home_container .home_area {
        padding-top: 0;
    }
    .home_container .font_normal {
        font-size: 1.5vw;
    }

    .home_container h1 {
        margin-top: 3.5vw;
        margin-bottom: 2.5vw;
        font-size: 2.5vw;
    }
    .home_container .btn_center {
        margin-top: 6vh;
    }
    .home_container a {
        padding: 1vw 2vw;
    }
    .home_container .contact_btn {
        font-size: 1.5vw;
    }

    /* Service */
    .about_container .about_area {
        /* max-height: 900px; */
        /* height: 62vw; */
    }

    /* Flow */
    .flow_container {
        height: inherit;
    }
    .flow_container .flow_contents {
        padding-bottom: 7rem;
    }

    .estimation_container .choice_main {
        height: inherit;
    }
    .estimation_container .choice_main h3,
    .estimation_container .choice_option h3 {
        font-size: 2.5vw;
    }
}